.main {
    width: 600px;
    margin: 0 auto;
}

.title {
    display: block;
    margin-top: 60px;
    text-align: center;
    color: #800;
    font-size: 120px;
    font-weight: 100;
}

.description {
    display: block;
    margin-top: 20px;
    color: #333;
    font-size: 25px;
    text-shadow: 1px 1px #f8f8f8;
    text-align: right;
}

.options {
    position: relative;
    margin-top: 150px;
}

.options ul {
    text-align: center;
}

.options li {
    display: inline-block;
    margin: 0 20px;
    width: 220px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    background: #444;
    color: white;
    text-align: center;
    cursor: pointer;
}

.iconfont {
    position: absolute;
    font-size: 2em !important;
}

/* 定义动画 */
@keyframes move {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.9;
    }
}

.see_show{
    position: absolute;
    width: 400px;
    height: 500px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    font-family: 'Open Sans', Helvetica, Arial, FreeSans;
    animation: move 0.9s forwards;
}


